.recipeImg {
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    object-position: top center;
    }

.overview img {
    opacity: 0.8;
    filter: none;
    transition: filter 0.8s ease-in-out, transform 0.8s ease;
}

.recipeImg:hover img {
    transform: scale(1.5);
    filter: grayscale(0.5);
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

p {
    font-size: 14px;
    color: dimgray;
    font-style: Helvetica;
    line-height: 1.6;
    letter-spacing: 0.75px;
    opacity:0.7;

}

h3 {
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

 ul {
    font-style: Helvetica;
    line-height: 1.6;
    letter-spacing: 0.75px;
}

/*
font-style
font-size
colors
opacity
hover
alert*/